.tableTitle 		{ width: 100%; }
.listTableTabber 	{ width: 100%; }
.listTable			{ width: 100%; }
.mainBox 			{ width: 100%; }

html>body .tableTitle { width: 98%; }
html>body .mainBox	{ width: 98%; }
.tableInfo			{ width:97%; }
